.editor {
  font-family: "MONOSPACE" !important;
  font-size: 18px;  
  width: 45%;
  resize: both;
  overflow: auto;
}

.ql-editor p{
    margin-top: 10px !important
}

.blurComponent {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#overlay {
    position: fixed;    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #A9A9A9;
    position: relative;
    left: 5px;
    top: 10px;
}