ul {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  width: 300px;
  list-style: none;
  background: #efefef;
}

li {
  padding: 5px 5px;
  cursor: pointer;
}

li:hover {
  background: #ddd;
}

li span {
  font-weight: bold;
}

.editor {
  font-family: "MONOSPACE" !important;
  font-size: 18px;
  height: 1000px;  
}

.ql-editor p{
    margin-top: 10px !important
}

.blurComponent {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#overlay {
    position: fixed;    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #A9A9A9;
    position: relative;
    left: 5px;
    top: 10px;
}